{% extends "base.html" %}
{% load static %}

{% block content %}
{% for project in project_list %}
<div class="row justify-content-center">
	<div class="col-6">
	<div class="card mb-3">
		<div class="card-body">
			<a href="{{ project.get_absolute_url }}" class="text-decoration-none"><h5 class="card-title">{{ project.company }} - {{ project.title }}</h5></a>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><b>Lecture time:</b> {{ project.lecturetimes.all|join:", " }}</li>
            <li class="list-group-item"><b>Lab time:</b> {{ project.labtimes.all|join:", " }}</li>
			<li class="list-group-item"><b>Domain:</b> {{ project.domain }}</li>
			<li class="list-group-item"><b>Keywords:</b> {{ project.keywords.all|join:", " }}</li>
			<li class="list-group-item"><b>Tools:</b> {{ project.tools.all|join:", " }}</li>
  		</ul>
		<div class="card-body">
			<h6 class="card-text">Summary</h6>
			<p class="card-text">{{ project.summary }}</p>
		</div>
            <div class="card-footer">
                <div class="row">
                    <small class="text-muted col-sm-6 text-start">AY {{ project.year }} - {{ project.year|add:"1" }}</small>
			        <small class="text-muted col-sm-6 text-end">Last updated: {{ project.updated_at }}</small>
                </div>
            </div>
	</div>
	</div>
</div>
{% empty %}
<h2>No projects found</h2>
{% endfor %}
{% endblock content %}
