{% extends "base.html" %}
{% load static %}
{% load url_replace %}

{% block content %}
<style>
	@media only screen and (max-width: 768px) {
	  #sticky-sidebar {
		  display: none;
	  }
	  .col-6 {
		  width: 99%;
		  max-width: 100%;
		  flex: 0 0 100%;
	  }
  }
	  @media only screen and (min-width: 769px){
	  #directions {
		  display: none;
	  }
	  .col-6 {
		  width: 65%;
		  max-width: 65%;
		  flex: 0 0 100%;
	  }
  }
	  @media only screen and (min-width: 1500px){
	  .col-6 {
		  width: 50%;
		  max-width: 50%;
		  flex: 0 0 100%;
	  }
  }
</style>
<div class="container-fluid">
	<div class="row ">
		<div class="col-3" id="sticky-sidebar">
			<div class="sticky-top" style='border-style: solid; padding: 10px;'>
				<h3>Directions</h1>
				<p>Use the <a href="https://projects.the-examples-book.com/projects/by-year">Companies</a> tab to view all projects by company</p>
				<p>Use the <a href="https://projects.the-examples-book.com/projects/search">Search</a> tab to search for projects by domain, keywords, and meeting time</p>
				<br>
				<p><b>Click on individual projects to view more information including project descriptions from corporate partners</b></p>
			</div>
		</div>
		<div class="col-6" id="main">
			<div id="directions" style='border-style: solid; padding: 10px;'>
				<h3>Directions</h1>
				<p>Use the <a href="https://projects.the-examples-book.com/projects/by-year">Companies</a> tab to view all projects by company</p>
				<p>Use the <a href="https://projects.the-examples-book.com/projects/search">Search</a> tab to search for projects by domain, keywords, and meeting time</p>
				<br>
				<p><b>Click on individual projects to view more information including project descriptions from corporate partners</b></p>
			</div>
			{% for project in page_obj %}
			<div class="row justify-content-center">
				<div class="col-6">
					<div class="card mb-3">
						<div class="card-body">
							<a href="{{ project.get_absolute_url }}" class="text-decoration-none"><h5 class="card-title">{{ project.company }} - {{ project.title }}</h5></a>
							{% if project.registration_status %}
							<span class="badge rounded-pill bg-success">Open for Registration</span>
							{% else %}
							<span class="badge rounded-pill bg-danger">Closed for Registration</span>
							{% endif %}
							{% if project.deafpods_bool %}
							<span class="badge rounded-pill bg-info">DEAFPODS Students Only</span>
							{% endif %}
							{% if project.indy_bool %}
							<span class="badge rounded-pill bg-warning">INDY</span>
							{% endif %}
							{% if project.rockies_bool %}
							<span class="badge rounded-pill bg-secondary">ROCKIES</span>
							{% endif %}

							{% if project.ndmn_bool %}
							<span class="badge rounded-pill bg-info">NDMN/IDM</span>
							{% endif %}

							{% if project.online_bool %}
							<span class="badge rounded-pill bg-primary">ONLINE</span>
							{% endif %}
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><b>Lecture time:</b> {{ project.lecturetimes.all|join:", " }} <b>ET</b></li>
							<li class="list-group-item"><b>Lab time:</b> {{ project.labtimes.all|join:", " }} <b>ET</b></li>
							<li class="list-group-item"><b>Domain:</b> {{ project.domain }}</li>
							<li class="list-group-item"><b>Keywords:</b> {{ project.keywords.all|join:", " }}</li>
							<li class="list-group-item"><b>Tools:</b> {{ project.tools.all|join:", " }}</li>
							<li class="list-group-item"><b>Citizenship:</b> {{ project.citizenship_status }}</li>
						</ul>
						<div class="card-body">
							<h6 class="card-text">Summary</h6>
							<p class="card-text">{{ project.summary }}</p>
						</div>
						<div class="card-footer">
							<div class="row">
								<small class="text-muted col-sm-6 text-start">AY {{ project.year }} - {{ project.year|add:"1" }}</small>
								<small class="text-muted col-sm-6 text-end">Last updated: {{ project.updated_at }}</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% empty %}
		<h2>No projects found</h2>
		{% endfor %}
		</div>
	</div>
</div>

<nav>
	<ul class="pagination justify-content-center">
		{% if page_obj.has_previous %}
		<li class="page-item">
			
			<a class="page-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}">Previous</a>
		</li>
		{% else %}
		<li class="page-item disabled">
			<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
		</li>
		{% endif %}

		<li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a></li>

		{% if page_obj.has_next %}
		<li class="page-item">
			<a class="page-link" href="?{% url_replace request 'page' page_obj.next_page_number %}">Next</a>
		</li>
		{% else %}
		<li class="page-item disabled">
			<a class="page-link" tabindex="-1" aria-disabled="true" href="#">Next</a>
		</li>
		{% endif %}
	</ul>
</nav>

{% endblock content %}
